
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Transpiled JavaScript files
# (created by webpack, babel, tsc, etc.)
*.generated.js
*.generated.ts

# TypeScript cache
*.tsbuildinfo

# Output of 'next export'
/out

# Next.js build outputs
/.next/
/build/

# Docusaurus build outputs
/.docusaurus/

# Firebase
.firebase/
firebase-debug.log
*.log

# Misc
.DS_Store
*.pem
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Optional eslint cache
.eslintcache

# Optional SvelteKit cache
.svelte-kit
