# Dependencies
/node_modules
/.pnp
.pnp.js
*.pnp.loader.mjs

# Testing
/coverage

# Next.js
/.next/
/out/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
*.crt
*.key

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log*

# Local Environment Variables
.env.local
.env.development.local
.env.production.local
.env.test.local

# Turborepo
.turbo

# IDE files & settings
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace

# Firebase
# .firebase - if you don't want to commit firebase emulators data etc.
# /hosting/dist - if your vite app output is 'dist' and you don't want it versioned from root

# Docusaurus output (if used)
.docusaurus

# Angular
/dist
/tmp
temp
